* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06a721b5;
}

.card {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
}

h1 {
  color: #0ceb00;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 18px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #03e734;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #0ceb00;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0ac600;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #0ceb00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Optional: Hide number input spinners for better UX */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
