@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(135deg, #8a2be2, #4169e1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.content {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #666;
}

form {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
}

input[type="email"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #8a2be2;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #7a1dd1;
}

@media (max-width: 600px) {
  .content {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}
