/* 1. Universal Selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  background-color: #2d013c;
  color: #333;
  padding: 20px;
} */

/* 2. Type Selector */

h1 {
  color: #e94560;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #0f3460;
  margin: 10px 0;
}

/* 3. Class Selector */

.highlight {
  background-color: yellow;
  font-weight: bold;
}

/* 4. Id Selector */

#header {
  font-size: 32px;
  text-decoration: underline;
  margin-bottom: 15px;
}

/* 5. Attribute Selector */

input[type="text"] {
  border: 2px solid #0f3460;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
}

input[type="password"] {
  border: 2px solid #0f3460;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
}

button[type="submit"] {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

/* 6. Descendant Selector */

article p {
  font-style: italic;
  color: #53354a;
  background-color: #f0f0f0;
  padding: 10px;
}

/* 7. Child Selector */

div > p {
  color: #1e1e1e;
  background-color: #d3d3d3;
  padding: 10px;
  border-left: 4px solid #0f3460;
}

/* 8. Adjacent Sibling Selector */

div + p {
  color: #efecec;
  background-color: #d30505;
  padding: 10px;
  border: 4px solid #0c0b0b;
}

/* 9. General Sibling Selector*/

div ~ p {
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  border: 4px dashed #0f3460;
}

/* 10. Pseudo-class Selector */

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #e94560;
  outline: none;
}

a:hover {
  color: #e94560;
  text-decoration: none;
  color: #e94560;
  padding: 10px;
  border: 2px solid #e94560;
  border-radius: 4px;
  background-color: #f0f0f0;
}

/* 11. Pseudo-element Selector */

p::first-letter {
  font-size: 200%;
  color: #e94560;
  font-weight: bold;
}

/* 12. Grouping Selector */

h1,
h2,
h3,
header {
  font-family: "Courier New", Courier, monospace;
}
